

body {
  margin-top: 70px;
  display: flex;
  background: rgb(249, 249, 249);
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
}
.navbar
{

  background: #555d68;

}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 

/**.col-9{
	
  border-radius: 0px 35px 35px 0px;
  box-shadow:  0px 0px 35px 10px  rgb(226, 232, 240, 0.4);
  z-index:100;
  background: #fff;
  margin-bottom: 20px;
}
.col-2
{
  margin-top:100px;
  position: sticky;
  background: #fff;
margin-left: 50px;
	align-content: center;
	height:450px;
	padding: 10px;
	background-color:#fff;
	border-radius:40px;
	

	box-shadow:  0px 0px 5px 1px  rgb(226, 232, 240);
  z-index:100;
}**/
#h2baslik
{
  font-family: Comic Sans MS, Comic Sans, cursive;    
margin-top: 30px;
font-weight: normal;
font-size: larger ;
font-smooth: auto;
color: rgb(58, 55, 96);
}
#h2yazi{
  font-family: Bradley Hand, cursive;                               
font-size: 46px;
font-weight: 800;
margin-top: 30px  ;
}
.footer {
  position: relative;
  bottom: -10px;
  width: 100%;
 /**rgb(105, 102, 135); morumsu renk**/
  background: rgba(58, 74, 92,0.8);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
  color: red;
}
#slider{
background-color: #25d366;
  width: auto;
  height: 500px;

} 



.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

#text {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
  color:whitesmoke;

}

#text1 {
  margin-left: 50px;
  color:#FFF;
font-weight: 200;
}
#text1:hover {
  font-size: larger;
  color:rgba(255, 0, 0, 0.802);
  opacity: 1;
  font-weight: 400;
}

#text2 {
  text-align: center;
  color:#000000;
font-weight: 200;

}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:50px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

#footertext{
    position: bottom;
    color:#ffffffb2;
    text-align:center;
    font-size:10px;
    margin:50px;
}
.navbar-text {
  font-weight: 200;
}
#text:hover{
  color: white;
  font-weight: 1000;
}
